#about{
  margin: auto;
  width: 75%;
  height: 90vh;
  text-align: center;
}

.img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #8aa29e
}

.user-card-container {
  display: flex;
  align-items: center; 
  height: 100%;
}

.user-card{
  background-image: linear-gradient(orangered, purple);
  border-radius: 1rem;
  padding: 1rem;
}

.user-card > p, h2, h3 {
  color: white
}

.user-description{
  padding-top: 1rem;
  text-align: left;
}