.nav{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 10vh
}

.nav * a.active {
  color: red;
}

nav .info {
  --_gap: 2rem;
  display: flex;
  list-style: none;
  
}

nav .info > *, nav .title > * {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

nav .title a {
  font-size: 1rem;
  padding: 0.5rem;
}

nav .info a {
  padding-inline: calc(var(--_gap) / 2);
  position: relative;
  margin: 0;
}

nav .info a:hover {
  color: #F6019D;
}

nav .info a:hover::after {
  scale: 1 1;
}

nav .info a::after, nav .title a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 3px;
  width: 100%;
  background: orangered;
  
  scale: 0 1;
  transition: scale 250ms;
}