.nav{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 10vh
}

.nav > * > a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.nav * a.active {
  color: red;
}

.title a{
  font-size: 1rem;
  padding: 0.5rem;
}

.info {
  display: flex;

}

.info a {
  margin: 0;
  padding: 0.5rem;
}